{%extends 'base.html'%} {%block title %}Upload CSV{%endblock%} {%block body%}
<h1 class='mt-2 mb-5'>Upload CSV</h1>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
    {{ message }}
</div>  {% endfor %}
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="data_file" class="form-control w-25" />
  <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>
{%endblock%}
