{% extends 'base.html' %}
{% load static %}

{% block title %} Balance Transaction {% endblock %}

{% block body %}


<h1>Transfer Balance</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="mt-3 alert alert-{% if message.tags == 'success' %}{{ message.tags }}{% else %}danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'balance-transaction' %}">
        {% csrf_token %}
        <div class="my-3">
            <label for="sender" class="form-label">Sender ID</label>
            <input type="text" class="form-control" id="sender" name="sender" placeholder="67c33f68-d199-4a91-b390-d62ddc87cd9f" ">
            {% if form.sender.errors %}
                <div class="text-danger">
                    {% for error in form.sender.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="my-3">
            <label for="recepient" class="form-label">Recepient ID</label>
            <input type="text" class="form-control" id="recepient" name="recepient" placeholder="e88db039-f549-436e-8423-66a75a6770a2" >
            {% if form.recepient.errors %}
                <div class="text-danger">
                    {% for error in form.recepient.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="my-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" min="5.00" class="form-control" id="amount" name="amount" placeholder="5.00" value="{{ form.amount.value }}">
            {% if form.amount.errors %}
                <div class="text-danger">
                    {% for error in form.amount.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
{% endblock %}
